html{
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 10px;
    font-weight: 200;
}
body{
    margin: 0;
}
*,*::before,*::after{
    box-sizing: inherit;
}
.panels{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}
.panel{
    background-color: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    transition: font-size 0.7s cubic-bezier(0.61,-0.19,0.7,-0.11),
                flex 0.7s cubic-bezier(0.61,-0.19,0.7,-0.11),
                background 0.2s;
    font-size: 10px;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.panel1{background-image: url(https://images.unsplash.com/photo-1687904477461-3b38aeef9e54?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D/1500*1500);}
.panel2{background-image: url(https://images.unsplash.com/photo-1605272493704-499feb50bc2f?q=80&w=976&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D/1500*1500);}
.panel3{background-image: url(https://images.unsplash.com/photo-1703652320516-cc6dec07fd91?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D/1500*1500);}
.panel4{background-image: url(https://images.unsplash.com/photo-1616350957293-0f6e33eb2c6e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D/1500*1500);}
.panel5{background-image: url(https://images.unsplash.com/photo-1533550541475-eae8aa0c5d52?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D/1500*1500);}

.panel > *{
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel >*:first-child{
    transform:translateY(-100%);
}

.panel >*:last-child{
    transform:translateY(100%);
}
.panel.open-active >*{
    transform:translateY(0);
}
.panel p{
    text-transform: uppercase;
    font-family: 'Amatic SC',cursive;
    text-shadow: 0 0 4px rgba(0,0,0,0.72),
                 0 0 14px grba(0,0,0,0.45);
    font-size: 2em;
}
.panel p:nth-child(2){
    font-size: 4em;
}
.panel.open{
    flex:5;
    font-size: 20px;
}
.cta{
    color:white;
    text-decoration: none;
}